html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#viewDiv {
  flex: 1;
}

#categorySelect {
  margin: 5px;
}

/* Adjust the sizing of the side panel */
#contents {
  --calcite-shell-panel-min-width: 300px;
}